<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>UserLoginFilter</filter-name>
        <filter-class>com.bid.online.presentation.usermanagement.UserLoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserLoginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>com.bid.online.presentation.listeners.ApplicationContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.bid.online.presentation.usermanagement.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegistrationServlet</servlet-name>
        <servlet-class>com.bid.online.presentation.usermanagement.UserRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLoginServlet</servlet-name>
        <servlet-class>com.bid.online.presentation.usermanagement.UserLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogoutServlet</servlet-name>
        <servlet-class>com.bid.online.presentation.usermanagement.UserLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BidItemServlet</servlet-name>
        <servlet-class>com.bid.online.presentation.bidmanagement.BidItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFile</servlet-name>
        <servlet-class>com.bid.online.presentation.bidmanagement.UploadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>com.bid.online.presentation.bidmanagement.CategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateItemServlet</servlet-name>
        <servlet-class>com.bid.online.presentation.bidmanagement.CreateItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemByCategory</servlet-name>
        <servlet-class>com.bid.online.presentation.bidmanagement.ItemByCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateBidServlet</servlet-name>
        <servlet-class>com.bid.online.presentation.bidmanagement.CreateBidServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegistrationServlet</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BidItemServlet</servlet-name>
        <url-pattern>/BidItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFile</servlet-name>
        <url-pattern>/UploadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/CategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateItemServlet</servlet-name>
        <url-pattern>/CreateItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemByCategory</servlet-name>
        <url-pattern>/ItemByCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateBidServlet</servlet-name>
        <url-pattern>/CreateBidServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
